.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 40px;
    z-index: 200;
    background-color: white;
    width: 50px;
    padding-top: 10px;
}
.side-bar-div{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.side-bar-div:hover{
    background-color: rgb(248, 248, 248);

}
.side-bar img{
    height: 18px;
    padding-bottom: 5px;
}
.side-bar-div div{
    font-size: 7px;
    font-family:Roboto,Arial;
}